*{
   margin: 0%;  
                 
}
.main{

}

/* header style */
.header{
    height: 808px; 
    display: flex;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding-right: 230px;
    text-align: end;
    justify-content: end;
    margin-bottom: 130px;
    margin-left: 0px;
    margin-top: 0px;
    

}
.header-title{
           width: 525px; 
           height: 228px; 
           color: aliceblue; 
           font-size: 65px;
           margin-top: 216px;
           margin-left: 845;

}

.header-description{
                        font-size: 15px;
                        color:whitesmoke;
                        margin: 24 0 25px ;
                        line-height: 30px;
}
.contact{
       font-size: 20px;
       font-weight: 300px;
       color: rgba(41, 134, 221, 0.678);
       background-color: aliceblue;
       padding: 25px 30px;
       border-radius: 5px;
       border: none;
}

/* failures of previou style */

.failures-of-previous{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 65px;
    margin-bottom: 130px;
    gap: 90px;

}

.failures-list{

}
.failures-title{
    font-weight: 700;
    color: #141414;
    font-size: 50px;
    margin-bottom: 25px;

}

.failures-description{
    color: #444343;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 25px;
    
}


 .checki{
     color: rgb(16, 175, 96);
 }
/* plan Style */
.plan-title {
    font-size: 40px;
    color: #151414;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;

}

.plan {
    text-align: center;
}

.plan h3 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin: 24px 16px;
}

.plan  {
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}
